In [19]:
# Data Cleaning (replacing with median)
import pandas as pd

# Load the dataset

file_path = "TotalCase.csv"

df = pd.read_csv(file_path)

# Drop unnecessary index column if it exists

if 'Unnamed: 0' in df.columns:

  df.drop(columns=['Unnamed: 0'], inplace=True)

# Replace all 0 values with the median of the respective column

for col in df.select_dtypes(include=['number']).columns: # Select only numerical columns

  median_value = df[col].median() # Compute the median

  df[col] = df[col].replace(0, median_value) # Replace 0 with median

# Display the entire DataFrame in Jupyter Notebook

print("Data Cleaned by replacing with median!")

df # Display the updated dataset

Data Cleaned by replacing with median!

                          State  Total Case  Active Case  Deaths
0   Andaman and Nicobar Islands          44           11      14
1                Andhra Pradesh        6720         3119      88
2             Arunachal Pradesh          99           92      14
3                         Assam        4511         2088       8
4                         Bihar        6810         2200      39
5                    Chandigarh         368           61       6
6                  Chhattisgarh        1784          841       9
7        Dadra and Nagar Haveli          54           45      14
8                         Delhi       44688        26351    1837
9                           Goa         629          544      14
10                      Gujarat       24628         6004    1534
11                      Haryana        8272         4406     118
12             Himachal Pradesh         568          186       7
13            Jammu and Kashmir        5298         2454      63
14                    Jharkhand        1839          709       9
15                    Karnataka        7530         2975      95
16                       Kerala        2623         1367      21
17                       Ladakh         649          563       1
18               Madhya Pradesh       11083         2455     476
19                  Maharashtra      113445        50044    5537
20                      Manipur         500          341      14
21                    Meghalaya          44           15       1
22                      Mizoram         121          120      14
23                     Nagaland         181           78      14
24                       Odisha        4338         1350      14
25                   Puducherry         216          113       4
26                       Punjab        3371          838      72
27                    Rajasthan       13338         2904     309
28                       Sikkim          72           64      14
29                   Tamil Nadu       48019        20709     528
30                    Telangana        5406         2188     191
31                      Tripura        1090          533       1
32                Uttar Pradesh       14598         5259     435
33                  Uttarakhand        1942          688      25
34                  West Bengal       11909         5386     495

In [25]:
import pandas as pd

from scipy.stats import zscore

# Load the dataset

file_path = "TotalCase.csv"

df = pd.read_csv(file_path)

# Drop unnecessary index column if it exists

if 'Unnamed: 0' in df.columns:

  df.drop(columns=['Unnamed: 0'], inplace=True)

# Replace all 0 values with the median of the respective column

for col in df.select_dtypes(include=['number']).columns: # Select only numerical columns

  median_value = df[col].median() # Compute the median

  df[col] = df[col].replace(0, median_value) # Replace 0 with median

# Apply Z-score normalization to numerical columns

numeric_cols = df.select_dtypes(include=['number']).columns # Select numeric columns

df[numeric_cols] = df[numeric_cols].apply(zscore) # Apply Z-score normalization

# Display the updated DataFrame in Jupyter Notebook

print("Data Normalized!")

df # Show the transformed dataset

Data Normalized!

                          State  Total Case  Active Case    Deaths
0   Andaman and Nicobar Islands   -0.471125    -0.439654 -0.337848
1                Andhra Pradesh   -0.152272    -0.113680 -0.262056
2             Arunachal Pradesh   -0.468498    -0.431158 -0.337848
3                         Assam   -0.257776    -0.221814 -0.343994
4                         Bihar   -0.147974    -0.210067 -0.312243
5                    Chandigarh   -0.455651    -0.434410 -0.346042
6                  Chhattisgarh   -0.388021    -0.352602 -0.342969
7        Dadra and Nagar Haveli   -0.470648    -0.436088 -0.337848
8                         Delhi    1.661122     2.322941  1.529316
9                           Goa   -0.443185    -0.383752 -0.337848
10                      Gujarat    0.703034     0.188905  1.218975
11                      Haryana   -0.078147     0.021303 -0.231329
12             Himachal Pradesh   -0.446098    -0.421300 -0.345018
13            Jammu and Kashmir   -0.220188    -0.183427 -0.287661
14                    Jharkhand   -0.385394    -0.366446 -0.342969
15                    Karnataka   -0.113586    -0.128783 -0.254886
16                       Kerala   -0.347949    -0.297434 -0.330679
17                       Ladakh   -0.442230    -0.381759 -0.351163
18               Madhya Pradesh    0.056110    -0.183322  0.135344
19                  Maharashtra    4.945034     4.807914  5.318952
20                      Manipur   -0.449346    -0.405043 -0.337848
21                    Meghalaya   -0.471125    -0.439234 -0.351163
22                      Mizoram   -0.467448    -0.428222 -0.337848
23                     Nagaland   -0.464582    -0.432627 -0.337848
24                       Odisha   -0.266039    -0.299217 -0.337848
25                   Puducherry   -0.462910    -0.428956 -0.348091
26                       Punjab   -0.312224    -0.352916 -0.278443
27                    Rajasthan    0.163811    -0.136230 -0.035702
28                       Sikkim   -0.469788    -0.434095 -0.337848
29                   Tamil Nadu    1.820215     1.731196  0.188604
30                    Telangana   -0.215030    -0.211325 -0.156560
31                      Tripura   -0.421167    -0.384905 -0.351163
32                Uttar Pradesh    0.223990     0.110768  0.093351
33                  Uttarakhand   -0.380475    -0.368649 -0.326582
34                  West Bengal    0.095560     0.124088  0.154804